.a {
  border: #000000 5px solid;
  margin-top: 5%;
}
.b {
  border: #000000 5px solid;
  margin-top: 5%;
}
.c {
  border: #000000 5px solid;
  margin-top: 5%;
}
.logo {
  width: 120px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}
button {
  border: none;
  background: none;
  color: white;
}
button:hover {
  color: #0882e5;
  transition: 0.3s;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  color: #0882e5;
  margin-top: 5%;
}
.watch {
  border-radius: 0%;
  background-color: #0882e5;
  border: none;
}
.btn_add{
  background-color: #0882e5;
  height: 40px;
}
.btn_add:hover{
  color: white;
}



.movie_poster{
  width: 535px;
  
}

.a1{
  background-color: rgb(41, 41, 41);
  margin-top: 5%;
  padding: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.T{
  color: #0882e5;
  font-size: 60px;

  
}
.c1{
  border: solid 1px;
  background-color: rgb(53, 53, 53);
  margin-top: 5%;
  padding: 40px;
}
.b1{
  margin-top: 5%;
}
h2{
  color: #0882e5;
}
.mp{
  color: white;
}
.active{
  color: #0882e5;
  transition: 0.3s;
}

.movie-app > .row{
  overflow-x: auto;
  flex-wrap: nowrap;
}